* {box-sizing: border-box;}
/* Container needed to position the overlay. Adjust the width as needed */
div.container {
  position: relative;
  width: 25%;
  height: 25%;
  left: 38%;
}
/* The overlay effect - lays on top of the container and over the image */
.overlay {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  transition: .5s ease;
  opacity:1;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin: 0px;
}
/* Make the image to responsive */
img.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}